@model IronDomeV2.Models.Attacker

@{
    ViewData["Title"] = "New Attack";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @await Html.PartialAsync("~/Views/Shared/Forms/_AttackerForm.cshtml", Model)
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
