@model IronDomeV2.Models.Countermeasure

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Countermeasure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefenderId" class="control-label"></label>
                <select asp-for="DefenderId" class="form-control" asp-items="ViewBag.DefenderId"></select>
                <span asp-validation-for="DefenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Velocity" class="control-label"></label>
                <input asp-for="Velocity" class="form-control" />
                <span asp-validation-for="Velocity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaunchTime" class="control-label"></label>
                <input asp-for="LaunchTime" class="form-control" />
                <span asp-validation-for="LaunchTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MethodOfAttackId" class="control-label"></label>
                <select asp-for="MethodOfAttackId" class="form-control" asp-items="ViewBag.MethodOfAttackId"></select>
                <span asp-validation-for="MethodOfAttackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
