@model IronDomeV2.ViewModel.VMVolley

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Volley</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <table class="table">
                <thead>
                    <tr>
                        <th>שם הטיל</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Til in ViewBag.MethodOfAttackTemplate)
                    {
                        <tr>
                            <td>@Til.Name</td>
                            <td>
                                <input type="number" name=""/>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
